/build/
/build-*/
/cmake-build-*/

/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/cmake_install.cmake

*.exe
*.o
*.obj

*.db
*.db-journal
*.db-shm
*.db-wal

/CMakeUserPresets.json
/.vscode/*
!/.vscode/settings.json
/.idea/

.DS_Store
Thumbs.db
